.auth-wrapper {
  .container {
    display: flex;
    flex-direction: row;
    min-height: 100vh;

    .banner {
      flex-basis: 520px;
      padding: 1rem;
      color: white;
      text-align: center;
      align-items: center;
      justify-content: center;
      display: none;
    }

    .form-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 8px;
        padding: 1rem 2rem;
        flex: 1;
    }
  }
}


@media(min-width: 1024px) {
   .auth-wrapper {
    .container {
      .banner {
        display: flex;
      }
    }
   }     
} 